{% extends 'base.html' %}
{% load breadcrumbs %}
{% load static %}
{% block breadcrumbs %}
    {% breadcrumbs 'Home,main,0' 'Products,products,1' as tags %}
    {% include 'parts/breadcrumbs.html' with tags=tags %}
{% endblock breadcrumbs %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% for product in object_list %}
                    <div class="col {% if product.products.exists %}col-lg-6{% else %}col-lg-3{% endif %}">
                        <div class="card mb-3">
                        {% if product.image %}
                            <figure class="text-center">
                                <img src="{{ product.image.url }}"
                                     class="product-image p-3"
                                     alt="{{ product.name }}">
                            </figure>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="small">{{ product.category.name }}</p>
                                <p class="card-text">
                                    {{ product.description|truncatewords:16 }}
                                </p>
                                <p>
                                    <a href="{% url 'product_detail' product.id %}">Details...</a>
                                </p>
                                {% if product.products.exists %}
                                    <p>Including:</p>
                                    {% for sub in product.products.iterator %}
                                        <div class="d-inline-flex flex-column rounded border p-2">
                                            <p>{{ sub.name }}</p>
                                            <figure class="text-center d-inline">
                                                <img src="{{ sub.image.url }}"
                                                     class="product-image p-3"
                                                     alt="{{ product.name }}">
                                            </figure>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="text-center">
                                    <div class="h3">
                                        {{ product.price }} UAH
                                    </div>
                                    <p>
                                        {% include 'parts/forms/add_to_cart.html' with product_id=product.id %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}