{% extends 'base.html' %}
{% load breadcrumbs %}
{% load static %}
{% block breadcrumbs %}
    {% breadcrumbs 'Home,main,0' 'Products,products,1' as tags %}
    {% include 'parts/breadcrumbs.html' with tags=tags %}
{% endblock breadcrumbs %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form>
                        {% include 'parts/forms/filter_form.html' with form=filter.form %}
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </form>
                </div>
                {% for product in object_list %}
                    <div class="col {% if product.products.exists %}col-lg-6{% else %}col-lg-3{% endif %}">
                        <div class="card mb-3">
                            {% if product.image %}
                                <figure class="text-center">
                                    <img src="{{ product.image.url }}"
                                         class="product-image p-3"
                                         alt="{{ product.name }}">
                                </figure>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="small">{{ product.category.name }}</p>
                                <p class="card-text">
                                    {{ product.description|truncatewords:16 }}
                                </p>
                                <p>
                                    <a href="{% url 'product_detail' product.id %}"
                                       class="pe-3">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrows-fullscreen"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'add_or_remove_favorite' product.id %}"
                                       class="pe-3">
                                        {% if not product.is_favorite %}
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-heart"
                                                 viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-heart-fill"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                        {% endif %}
                                    </a>
                                </p>
                                {% if product.products.exists %}
                                    <p>Including:</p>
                                    {% for sub in product.products.iterator %}
                                        <div class="d-inline-flex flex-column rounded border p-2">
                                            <p>{{ sub.name }}</p>
                                            <figure class="text-center d-inline">
                                                <img src="{{ sub.image.url }}"
                                                     class="product-image p-3"
                                                     alt="{{ product.name }}">
                                            </figure>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="text-center">
                                    <div class="h3">
                                        {{ product.exchange_price }} UAH
                                    </div>
                                    <p>
                                        {% include 'parts/forms/add_to_cart.html' with product_id=product.id %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo;
                                            first</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    </li>
                                {% endif %}
                                {% for i in "x"|rjust:page_obj.paginator.num_pages   %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ forloop.counter }}">
                                            {{ forloop.counter }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.next_page_number }}">next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.paginator.num_pages }}">last
                                            &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}