{% extends 'base.html' %}
{% load static breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumbs 'Home,main,0' 'Cart,cart,1' as tags %}
    {% include 'parts/breadcrumbs.html' with tags=tags %}
{% endblock breadcrumbs %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    {% if order.products.exists %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Amount</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <form method="post"
                                  action="{% url 'recalculate_cart' %}"
                                  id="recalculateCart">
                                {% csrf_token %}
                                {% for product_relation in products_relation.iterator %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ product_relation.product.name }}</td>
                                        <td>
                                            <input class="form-control "
                                                   type="number"
                                                   value="{{ product_relation.quantity }}"
                                                   name="quantity_{{ forloop.counter0 }}">
                                            <input type="hidden"
                                                   name="product_{{ forloop.counter0 }}"
                                                   value="{{ product_relation.product_id }}">
                                        </td>
                                        <td>{{ product_relation.product.price }}</td>
                                        <td>{{ product_relation.full_price }}</td>
                                        <td>
                                            <input type="hidden"
                                                   value="{{ product_relation.product.id }}"
                                                   name="product">
                                            <input type="submit"
                                                   class="btn btn-danger"
                                                   value="X"
                                                   formaction="{% url 'update_cart' 'remove' %}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <input class="btn btn-primary"
                                               type="submit"
                                               value="Recalculate"
                                        >
                                    </td>
                                    <td>
                                        <input class="btn btn-secondary"
                                               type="submit"
                                               value="Clear"
                                               formaction="{% url 'update_cart' 'clear' %}"
                                        >
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span class="d-inline-block">Total: {{ order.get_total_amount }}</span>
                                        {% if order.discount %}
                                            <span class="d-inline-block small">(included discount)</span>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                                {% if not order.discount %}
                                    <tr>
                                        <td colspan="2">Have discount?</td>
                                        <td colspan="2">
                                            <input type="text"
                                                   class="form-control"
                                                   name="code"
                                                   placeholder="Enter discount code here">
                                        </td>
                                        <td>
                                            <input class="btn btn-secondary"
                                                   type="submit"
                                                   value="Apply discount"
                                                   formaction="{% url 'apply_discount' %}"
                                            >
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="6">
                                        <input class="btn btn-warning w-100"
                                               type="submit"
                                               value="Pay order"
                                               formaction="{% url 'update_cart' 'pay' %}"
                                        >
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                    {% else %}
                        <h3>Your cart is empty.</h3>
                        <p>Goto <a href="{% url 'products' %}">products</a>
                            page and add something good to cart.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}