{% extends 'base.html' %}
{% load static breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumbs 'Home,main,0' 'Cart,cart,1' as tags %}
    {% include 'parts/breadcrumbs.html' with tags=tags %}
{% endblock breadcrumbs %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    {% if current_order %}

                    {% else %}
                        <h3>Your cart is empty.</h3>
                        <p>Goto <a href="{% url 'products' %}">products</a> page and add something good to cart.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}